[submodule "vendor/raplcap"]
	path = vendor/raplcap
	url = https://github.com/powercap/raplcap.git
[submodule "vendor/mammut"]
	path = vendor/mammut
	url = https://github.com/mathiasbourgoin/mammut.git
